# exclude everything
python-version/uploads/*
python-version/static/submitted/*

# exception to the rule
!python-version/uploads/.gitkeep
!python-version/static/submitted/.gitkeep

python-version/pepevote.db
python-version/.DS_Store