body {
  font-family: 'Nunito', sans-serif;
}

.bg-dark,
footer {
  margin-bottom:26px;
}

h1{font-size:29px}

.btn-primary,
.btn-success {
  background-color: #22d89e;
  border: none;
  color: white;
  margin: 1% 0;
}

.btn-primary:hover,
.btn-success:hover {
  border: none;
  background-color: #218838;
  color: white;
}

footer { 
  padding:30px 0 60px 0; 
  margin-bottom:-20px;
}

.pepe-body {
  background: white !important
}

.nice-header {
  font-size: 42px;
  color: #5332a0;
  font-weight: bold;
}

.fat-text {
  width: 25rem;
  text-align: center;
}

.spaced-bar {
  margin-bottom: 1rem;
}

.alone-text {
  font-size: 28px;
}

.pepe-background {
  background-image: url("Untitled_design.png");
  width: 100%;
  height: 28rem;
  margin-bottom: 3rem;
  color: white;
  font-size: 60px;
  text-align: center;
}

.create_asset_icon {
  height: 12rem;
}

#inp {
  width: 13rem;
}

.center-text {
  text-align: center;
}

.green-card {
  color: white;
  background: rgba(33, 136, 56, .5);
  border-radius: 5%;
  padding: 40px;
}

.purple-button {
  background: #007bff;
}

.purple-button:hover {
  background: rgba(82,49,160,.84);
}

.problem {
  background: red;
  border-radius: 2px;
  color: white;
  padding: 3px;
  font-weight: bold;
}

.mission {
  background: #22d89e;
  border-radius: 2px;
  color: white;
  padding: 3px;
  font-weight: bold;
}

.ruler {
  border: .5px solid lightgray;
  height: 20rem;
}

.telegram {
  height: 2rem;
  margin-left: .5rem;
}

.telegram-wrapper {
  position: fixed;
  right: 3rem;
  bottom: 5rem;
  padding: .58333rem;
  background-color: #5332a0 !important;
  color: white;
  border-radius: 999rem;
  z-index: 100;
}

.telegram-wrapper:hover {
  color: white;
}

.submission {
	padding: 1rem;
	border-radius: 5%;
	margin: 2rem;
	color: #5332a0;
}

.submission-pic {
	height: 20rem;
}

.space-column {
	width: .5rem;
}

.slider-track-high    
	height: 100%;
    	background-color: #E4E7E7;
    	top: 0;
    	bottom: 0;
}
