<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PepeVote - A Democratized Art Curation Platform</title>
   <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<header class="navbar">

</header>
<br>

PepeVote is a democratized digital art curation platform. 
<br>
<br>
1. Every week, artists submit digital art to the gallery
<br>
<br>
2. People in the Rare Pepe community vote on which art to accept
<br>
<br>
3. Two pieces of art are chosen each week
<br>
<br>
4. The first piece is chosen by weighted majority vote of owned Pepecash
<br>
<br>
5. The second piece is chosen by weighted majority vote of owned Pepe cards
<br>
<br>
6. After the week is over, art must be resubmitted to compete again
<br>
<br>
7. Details (subject to significant change) can be found at https://docs.google.com/document/d/1pp_RJuy8QVuWUovUGolujS_PeKsFoNA3RDNfZwhoWuA/edit?usp=sharing
<br>
<br>
8. Please note: The art submission process should be fully functional. Voting should be implemented soon. Feel free to try out the demo submissions!
<br>
<br>
<form action="/">
    <input type="submit" value="Return" />
</form>
</body>
</html>
