{% extends "layout.html" %}
{% block body %}
<div class="container container flex-column align-items-center justify-content-center d-flex">
    <br>
    <p class='nice-header'>	
        Why to Pepe? 
    </p>
    <div class='alone-text'>What are Rare Pepes?</div>
    <br>
    <div>
      <a href="http://knowyourmeme.com/memes/rare-Pepe"> Rare Pepes</a> are scarce digital art, with ownership tokenized on the blockchain. While Rare Pepes were initially meant as a fun joke about the seemingly impossible problem of preserving the rarity of something digital, blockchain technology challenges those assumptions. 
        <br>
        In late 2016, a user called Nola1978 tokenized the first Pepe digital asset on the CounterParty platform, and formed the Rare Pepe Foundation. Over the next year, the Rare Pepe community grew rapidly, attracting a crowd of hackers, artists and cryptocurrency enthusiasts. The Rare Pepe Foundation has since ceased certification of rares, to the disappointment of much of the community.
    </div>
<br>

    <div class='alone-text'>What is PepeVote?</div>

    <div>
      PepeVote is a platform that democratizes the curation of Rare Pepes, now that the Rare Pepe Foundation has 'hung up their lab coats." Artists can submit their art (plus a small submission fee) for consideration by the Rare Pepe community. Every week, participants in the Rare Pepe economy then vote to select their two favorite pieces from the past week's submissions. The winning two pieces of the week are then permanently added to the collection.
    </div>
    <br>
</div>
{% endblock %}
