{% extends "layout.html" %}
{% block body %}
<div class="container container flex-column align-items-center justify-content-center d-flex">
    <br>
    <p class='nice-header'>	
        Why to Pepe? 
    </p>
    <div class='alone-text'>Pepe History</div>
    <br>
    <div>History here lorem ipsum ry here lorem ipsum ry here lorem ipsum ry here lorem ipsum ry here lorem ipsum ry here lorem ipsum</div>
    <br>
    <br>
    <div class='container flex-row  d-flex'>
        <div class='container flex-column align-items-center  d-flex right-column'>
            <div class='problem'>Problem</div>
            <div>Put the problem</div>
        </div>
        <div class='ruler'></div>
        <div class='container flex-column align-items-center  d-flex'  >
            <div class='mission'>Mission</div>
            <div>Put the mission here</div>
        </div>
    </div>
</div>
{% endblock %}
