{% extends "layout.html" %}
{% block body %}
    <div class='flex-column align-items-center justify-content-center d-flex'>
        <div class='nice-header'>Certified Rares</div>
        <div>The following images have been certified as rare by the Rare Pepe community</div>
        <br>
		</div>
		<br>
		<div class='nice-header center-text'>Generation 0</div>
    <div class='flex-row align-items-center justify-content-center d-flex flex-wrap'>
        <div class='submission flex-column align-items-center justify-content-center d-flex'>
            <div class='center-text alone-text'>IVOTED</div>
            <div class='center-text'><b>250 Created</b></div>
  	    <br>
	    <img class='submission-pic' src="{{ url_for('static', filename='submitted/IVOTED.jpg') }}" alt="Submission">
        </div>
        <div class='submission flex-column align-items-center justify-content-center d-flex'>
            <div class='center-text alone-text'>PEPEDREDD</div>
            <div class='center-text'><b>344 Created</b></div>
	    <br>
	    <img class='submission-pic' src="{{ url_for('static', filename='submitted/pepe dredd.jpg') }}" alt="Submission">
        </div>
    </div>
    <div class='nice-header center-text'>Generation 1</div>
    <div class='flex-row align-items-center justify-content-center d-flex flex-wrap'>
        <div class='submission flex-column align-items-center justify-content-center d-flex'>
            <div class='center-text alone-text'>MAGMAPEPE</div>
            <div class='center-text'><b>120 Created</b></div>
            <br>
            <img class='submission-pic' src="{{ url_for('static', filename='submitted/Animation.gif') }}" alt="Submission">
        </div>
        <div class='submission flex-column align-items-center justify-content-center d-flex'>
            <div class='center-text alone-text'>JAWSPEPE</div>
            <div class='center-text'><b>100 Created</b></div>
            <br>
            <img class='submission-pic' src="{{ url_for('static', filename='submitted/jawspepe_compressed.png') }}" alt="Submission">
        </div>
    </div>

{% endblock %}
