{% extends "layout.html" %}
{% block body %}
    <div class='flex-column align-items-center justify-content-center d-flex'>
        <div class='nice-header'>Community Gallery</div>
        <div>The following images have been accepted into the Rare Pepe Community Gallery</div>
        <br>
    </div>
    <div class='flex-row align-items-center justify-content-center d-flex flex-wrap'>
        <div class='submission flex-column align-items-center justify-content-center d-flex'>
            <div class='center-text alone-text'>IVOTED</div>
            <div class='center-text'><b>250 Created</b></div>
  	    <br>
	    <img class='submission-pic' src="{{ url_for('static', filename='submitted/IVOTED.jpg') }}" alt="Submission">
        </div>
        <div class='submission flex-column align-items-center justify-content-center d-flex'>
            <div class='center-text alone-text'>PEPEDREDD</div>
            <div class='center-text'><b>344 Created</b></div>
	    <br>
	    <img class='submission-pic' src="{{ url_for('static', filename='submitted/pepe dredd.jpg') }}" alt="Submission">
        </div>
    </div>
{% endblock %}
