{% extends "layout.html" %}
{% block body %}
{{status}}
<div class="container flex-column align-items-center justify-content-center d-flex">
    <br>
    <br>
    <br>
    {% if not registration_error and not hash %}
    <b><div class='nice-header'>Making a submission</div></b>
    <br>
    <div class='container flex-column align-items-center justify-content-center d-flex'>
        <div class='container flex-row align-items-center justify-content-center d-flex'>
            <div class='container flex-column align-items-center justify-content-start d-flex'>
                <img class='create_asset_icon' href="{{ url_for('static', filename='art_tools.jpg') }}"   src="{{ url_for('static', filename='art_tools.jpg') }}" alt="Card image cap">
            </div>
            <div class='container flex-column align-items-center justify-content-start d-flex'>
                <img class='create_asset_icon' href="{{ url_for('static', filename='Counterparty.png') }}"   src="{{ url_for('static', filename='Counterparty.png') }}" alt="Card image cap">
            </div>
        </div>
        <div class='container flex-row align-items-start justify-content-start d-flex'>
            <div class='container flex-column align-items-center justify-content-start d-flex'>
                <br>
                <div class='alone-text'>1. Create digital art</div>
                <br>
            </div>
            <div class='container flex-column align-items-center justify-content-start d-flex'>
                <br>
                <div class='alone-text center-text'>2. Create a <a href='https://wallet.counterwallet.io/'>Counterparty</a> asset for your art</div>
                <br>
            </div>
        </div>
        <div class='container flex-row align-items-start justify-content-start d-flex'>
            <div class='container flex-column align-items-center justify-content-center d-flex'>
                <b>Requirements</b>
                <ul>
                    <li>Must be 400 pixels wide by 560 pixels tall</li>
                    <li>Cannot have been submitted by someone else on a prior week</li>
                    <li>Gif, png, and jpg files only. Currently considering svg</li>
                    <li>Gifs have a maximum size of 4mb (currently not checked)</li>
                </ul>
            </div>
            <div class='container flex-column align-items-center justify-content-center d-flex'>
                <b>Requirements</b>
                <ul>
                    <li>Must be held by a single address, no pre-sales</li>
                    <li>Cannot be divisible</li>
                    <li>Must have an issuance between 100 and 10000 (subject to change)</li>
                    <li>Issuance must be locked</li>
                </ul>
            </div>
        </div>
        <div class='container flex-column align-items-center justify-content-center d-flex'>

           
        </div>
    </div>
    <br>
    <br>
    <img class='create_asset_icon' href="{{ url_for('static', filename='upload.png') }}"   src="{{ url_for('static', filename='upload.png') }}" alt="Card image cap">
    <div class='alone-text'>3. Upload your art and get its unique ID(Hash)</div>
    <br>
    <br>
        <form class="flex-column align-items-center justify-content-center d-flex" action="/upload" method="post" enctype="multipart/form-data" >
            <span class="btn btn-default btn-file">
                <input id="inp" type="file" name="image">
            </span>
            <br>
            <br>
            <input type="submit" value="Upload" class="btn btn-primary">
        </form>

    <br>
    <br>
    {% if upload_error %}
    Error: {{upload_error}}
    {% endif %}

    {% else %}
		{% if not message and not registration_error %}
			<div class='container flex-column align-items-center justify-content-center d-flex'>
				<div class='nice-header'>Submit Image to the Blockchain</div>
        <form action="/create_submission" method="POST">    
            <br>
            <br>
            <br>
            <div class='alone-text'>Use <a href='https://wallet.counterwallet.io/'>Counterwallet</a> to send this week's submission fee to the burn address. Attach a data memo of your image's hash.</div>
            <br>
            <div class='alone-text'>Submission Fee: 1 Pepecash</div>
						<br>
						Burn Address:
            <div class='d-flex'>
							<input class="form-control" type="text" name="burn_address" value="1BurnPepexxxxxxxxxxxxxxxxxxxAK33R" id="burn_address" readonly="readonly">
            	<button type="button" class="btn" data-clipboard-target="#burn_address">
              	<img src="static/clippy.svg" alt="Copy to clipboard" width="13">
            	</button>
						</div>
						<br>
						<br>
						Image Hash:
            <div class='d-flex'>
							<input class="form-control" type="text" name="hash" value="{{ hash }}" id="hash" readonly="readonly">
							<button type="button" class="btn" data-clipboard-target="#hash">
									<img src="static/clippy.svg" alt="Copy to clipboard" width="13">
							</button>
						</div>
						<br>
						<br>
						<div class='align-items-center justify-content-center d-flex'>						
							<img style='height: 30rem;' src='static/counterwallet.jpg'>
						</div>
						<br>
            <br>
            <br>
            <div>Your Address: <input class="form-control" type="text" name="address"></div>
            <br>
            <br>
            <div>Asset name: <input class="form-control" type="text" name="asset"></div>
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">
				</form>
			</div>
        <br>
        {% if message_error %}
            Error: {{message_error}}
        {% endif %}

        {% else %}
            {% if not success %}
	        {% if message %}
			<div class='nice-header'>Sign the submission</div>
                        <div class='alone-text'>Use <a href='https://wallet.counterwallet.io/'>Counterwallet</a> to sign the registration message hash with the address that burned the Pepecash.</div>

	                <div style='display:none;'>Registration message: {{ message }}</div>
	                <div class='align-items-center justify-content-center d-flex'>						
		        <img style='height: 30rem;' src='static/signature.jpg'>						
			<img style='height: 30rem;' src='static/select_signature.jpg'>
			</div>
                    <br>
                    <br>
                {% endif %}
                {% if registration_error %}
                    <div class='alone-text'>Submission error: {{registration_error}}</div>
                    <br>
79785aa71e17afd5d                    <br>
                {% endif %}
                <form action="/submit_message" method="POST">
                    <input type="text" style="display:none;" name="message" value="{{ message }}" id="message" readonly="readonly">
                    <br>
                    Hash:
                    <br>
                    <div class="d-flex">
                    <input class="form-control" type="text" name="msghash" value="{{ msghash }}" id="msghash" readonly="readonly">
	       	    <button type="button" class="btn" data-clipboard-target="#msghash">
    		    <img src="static/clippy.svg" alt="Copy to clipboard" width="13">
							</button>
                    </div>
                    <br>
                    <br>
                    Signature: <input class="form-control" type="text" name="signature">
                    <br>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Submit Signature">
                </form>
            {% else %}
                <br>
                <div class='alone-text'>8. That's it, you're done!</div>
                <br>
                <br>
            {% endif %}
        {% endif %}
    {% endif %}
        
</div> <!--  closing contatiner div -->

{% endblock %}

{% block script %}
    <script>
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
{% endblock %}
