{% extends "layout.html" %}
{% block body %}
<div class="container">
    <br>
    <div class='nice-header'>
        Vote Delegation:
    </div>
    <br>
    Put the message from the previous page and the signature from counterwallet here.
    <br>
    <br>
    <form action="/delegate_submit" method="POST">
    Message: <input type="text" name="message">
    <br>
    <br>
    Signature: <input type="text" name="signature">
    <br>
    <br>
    <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    Status: {{status}}
    <br>
    <br>
    <br>
    <form action="/delegate_votes">
        <input type="submit" value="Return" />
    </form>
</div>
{% endblock %}
