{% extends "layout.html" %}
{% block body %}
<div class="container">
    <br>
    <div class='nice-header'>Vote Delegation</div>
    Keeping up with all the newest pieces of art can be time consuming. Leave it to the experts and delegate your votes to those who you know have good pepe taste.
    <br>
    <br>
    If you are uncomfortable using your main token storage address to sign messages, you can delegate signing to an empty secondary address.
    <br>
    <br>
    <b>Please note:</b> Delegated votes are currently non-transferrable. Your delegate cannot delegate votes on your behalf.
    <br>
    <br>
    Source address: <input class="form-control" type="text" name="source">
    <br>
    <br>
    Delegate address: <input class="form-control" type="text" name="delegate">
    <br>
    <br>
    <button class='btn btn-primary' type="submit" id="submit">Delegate Votes</button>
    <br>
    <br>
    <div id="status">
      <span></span>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
    function post(path, params, method) {
      method = method || "post"; // Set method to post by default if not specified.

      // The rest of this code assumes you are not using a library.
      // It can be made less wordy if you use one.
      var form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", path);

      for(var key in params) {
          if(params.hasOwnProperty(key)) {
              var hiddenField = document.createElement("input");
              hiddenField.setAttribute("type", "hidden");
              hiddenField.setAttribute("name", key);
              hiddenField.setAttribute("value", params[key]);

              form.appendChild(hiddenField);
          }
      }

      document.body.appendChild(form);
      form.submit();
    }
    
    $(document).ready(function(){
      $('#submit').click(function(){
        source = jQuery("#source").val()
        delegate = jQuery("#delegate").val()
        if (source == "") {
            $('#status span').text("Error: Please enter a source address.")
        } else if (delegate == ""){
            $('#status span').text("Error: Please enter a delegate address.")
        } else {

          message = '{"source":"' + source + '","delegate":"'+ delegate + '"}'
          post('/delegate_submit', {delegate_string: message});
        }
      });
  });
</script>
{% endblock %}