{% extends "layout.html" %}
{% block body %}
<div class="container">
    <br>
    <div class='nice-header'>
        Vote Delegation:
    </div>
    <br>
    Put the message from the previous page and the signature from counterwallet here.
    <br>
    <br>
    <form action="/delegate_submit" method="POST">
        Copy the following message, and sign it with Counterwallet:
        <br>
        <br>
        <input type="text" name="delegate_string" value="{{ delegate_string }}" id="delegate_string" readonly="readonly">
        <button type="button" class="btn" data-clipboard-target="#delegate_string">
            <img src="static/clippy.svg" alt="Copy to clipboard" width="13">
        </button>
        Paste the signature from Counterwallet here:
        <br>
        <br>
        <input type="text" name="signature">
        <br>
        <br>
        <input type="submit" value="Delegate">
    </form>
    <br>
    <br>
    Status: {{status}}
    <br>
    <br>
    <br>
    <form action="/delegate_votes">
        <input type="submit" value="Return" />
    </form>
</div>
{% endblock %}
{% block script %}
    <script>
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
{% endblock %}