{% extends "layout.html" %}
{% block body %}
<div class="flex-column align-items-center justify-content-center d-flex">
    <br>
		<div class='nice-header'>Vote Delegation</div>
		<div class='alone-text'>To submit the delegation you can manually sign <b>or</b> you can use the Pepewallet</div>
		<div class='submit-holder flex-row justify-content-between d-flex'>
        <div class='man-sign flex-column align-items-center justify-content-center d-flex'>
            <br>
            <form class='center-text flex-column align-items-center justify-content-center d-flex' action="/submit_vote" method="POST">
							Put the message from the previous page and the signature from counterwallet here.
							<br>
                <br>
								<input type="text" style="display:none;" name="delegate_string" value="{{ delegate_string }}" id="delegate_string" readonly="readonly">
                                <input type="text" name="delegate_string_hash" value="{{ delegate_string }}" id="delegate_string_hash" readonly="readonly">
								<button type="button" class="btn" data-clipboard-target="#delegate_string">
										<img src="static/clippy.svg" alt="Copy to clipboard" width="13">
								</button>
                <br>
                Paste the signature from Counterwallet here
                <br>
                <input type="text" name="signature">
                <br>
                <input class='btn btn-primary' type="submit" value="Delegate">
            </form>
            <br>
            Status: {{status}}
            <br>
            <br>
        </div>
        <div class='divider'></div>
        <div class='pepe-sign  p-2 flex-column align-items-center justify-content-center d-flex'>
            <button id='pepe-sign' class='btn btn-primary' type="button" id="submitbroken">Sign With RarePepeWallet (Currently Broken)</button>
            <iframe id='pepe-frame' frameborder='0' noresize='noresize' style='display:none; position: absolute; background: transparent; width:400px; height:400px;' 
                src="https://rarepepewallet.com/?who=pepevote&msg=stuff&return=https://107.155.93.86:5001/rpwverify" frameborder="0">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
{% endblock %}
