{% extends "layout.html" %}
{% block body %}  
<div class='pepe-background flex-row align-items-center justify-content-center d-flex'>Unstoppable Digital Pepes</div>
  <div class="container pepe-body">
    <div class="container flex-row align-items-center justify-content-center d-flex">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" href="{{ url_for('static', filename='modern_pepe.png') }}"   src="{{ url_for('static', filename='modern_pepe.png') }}" alt="Card image cap">
        </div>
        <div class="container flex-column align-items-center justify-content-center d-flex">
            <h5 class="card-title nice-header">What is PepeVote</h5>
            <p class="card-text fat-text">PepeVote is a democratized digital art curation platform. Every week, participants in the Rare Pepe economy vote to select two works of art to be permanently added to the collection. </p>
            <a class="btn btn-primary" href="/about">How it works</a>
        </div>
    </div>
    <br/>

    <div class="container flex-row align-items-center justify-content-center d-flex">
        <div class="container flex-column align-items-center justify-content-center d-flex">
            <h5 class="card-title nice-header">Calling All Digital Artists</h5>
            <p class="card-text fat-text">Explore and pioneer the new frontier of limited digital art ownership</p>
            <a class="btn btn-primary" href="/create_submission">Create a Submission</a>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" href="{{ url_for('static', filename='modern_pepe.png') }}"   src="{{ url_for('static', filename='modern_pepe.png') }}" alt="Card image cap">
        </div>
    </div> 
    <br/>

    <div class="container flex-column align-items-center justify-content-center d-flex">
        <a class="btn btn-primary" href="/get_submissions">View This Week's Submissions</a>
    </div>
    <br/>
    
    <div class="container flex-column align-items-center justify-content-center d-flex">
        <a class="btn btn-primary" href="/vote">Vote on this week's submissions</a>
    </div>

    <div class="col-md-12 text-center">
        <br/>
        <p class="lead">Find out how many votes your address has:</p>
        <form action="/get_votes" >
            <input placeholder="Your address" class="form-control" type="text" name="address"><br>  
            <input type="submit" class="btn btn-block btn-success" value="Get Votes">
        </form>
        <br/>
        </div>
    </div>

    <br/>
    <div class="container flex-column justify-content-center d-flex flex-grow:1">
        <a class="btn btn-primary" href="/delegate_votes">Delegate Voting Power</a>
        <div class="progress spaced-bar">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress spaced-bar">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress spaced-bar">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress spaced-bar">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress spaced-bar">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

</div>
{% endblock %}
