{% extends "layout.html" %}
{% block body %}
<div class='nice-header'>Vote Submission</div>
<div class='flex-row align-items-center justify-content-center d-flex'>
	<div>To submit the vote you can manually sign with a counterparty wallet or you can use the Pepewallet</div>
	<div>Note that submissions are currently test data, and are not representative of future submission quality.</div>
	<div>At some point in the near future (likely many points), this data will be wiped as development proceeds.</div>
	<div>Fill in the address field with your signing address, and the boxes with whole numbers from 1-100, representing a percentage of your total votes.
</div>
<br>
<form action="/submit_vote" method="POST">
Copy the following message, and sign it with Counterwallet:
<br>
<br>
<input type="text" name="vote_string" value="{{ vote_string }}" id="message" readonly="readonly">
<button type="button" class="btn" data-clipboard-target="#message">
    <img src="static/clippy.svg" alt="Copy to clipboard" width="13">
</button>
<br>
<br>
Paste the signature from Counterwallet here:
<br>
<br>
<input type="text" name="signature">
<br>
<br>
<input type="submit" value="Vote">
</form>
<br>
<br>
Status: {{status}}
<br>
<br>
<br>
<form action="/create_vote">
    <input type="submit" value="Return" />
</form>
{% endblock %}
{% block script %}
    <script>
    var clipboard = new ClipboardJS('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    </script>
{% endblock %}
