<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PepeVote - A Democratized Art Curation Platform</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<header class="navbar">

</header>
<br>
<form action="/submit_vote" method="POST">
Message: <input type="text" name="message">
<br>
<br>
Signature: <input type="text" name="signature">
<br>
<br>
<input type="submit" value="Submit">
</form>
<br>
<br>
Status: {{status}}
<br>
<br>
<br>
<form action="/create_vote">
    <input type="submit" value="Return" />
</form>
</body>
</html>
