{% extends "layout.html" %}
{% block body %}
<div class='flex-column align-items-center justify-content-center d-flex'>
    <div class='nice-header'>Vote Submission</div>
    <div class='alone-text'>Sign with RarePepeWallet</div>
    <div class='submit-holder flex-row justify-content-between d-flex'>
        <div class='pepe-sign  p-2 flex-column align-items-center justify-content-center d-flex'>
            <button id='pepe-sign' class='btn btn-primary' type="button" id="submitbroken">Sign With RarePepeWallet</button>
            <iframe id='pepe-frame' frameborder='0' noresize='noresize' style='display:none; position: absolute; background: transparent; width:400px; height:400px;' 
                src="https://rarepepewallet.com/?who=pepevote&msg={{ vote_string_hash }}&return=https://pepevote.com/rpwverify" frameborder="0">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
        $('#pepe-sign').click(function() {
            $('#pepe-frame').css('display', 'flex');
        })
    });
    </script>
{% endblock %}
