body {
  color:#bfcec2;
  font-family: Nunito-Light,Open Sans,Roboto,Tahoma,Verdana,sans-serif;
  background-color: black !important;
}
.bg-dark, footer{
  background-color:white !important;
  margin-bottom:26px;
}
h1{font-size:29px}


.btn-primary,.btn-success{ background-color:#22251e;
border-color:#22251e;
}

.btn-primary:hover,.btn-success:hover{ background-color:#151712;
border-color:#151712;}

footer{padding:30px 0 60px 0px; margin-bottom:-20px}